.padding_butons{

    padding-left: 15px;
    padding-right: 15px;
}

.textnavbar{

    font-size: 24px;
    font-weight: bold;
    /*font-family: Roboto;*/
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #11CBD6;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{

    color:#F6F6F6;
    font-size: 24px;
    font-weight: bold;
    /*font-family: Roboto;*/
}